.mainSection{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 70px 0;

}

.name {
    margin: 0;
    font-family: "Montez";
    font-size: 130px;
    color: white;
    text-decoration: none;
   
}

.mainImage{
    border-radius: 30px;
    width: 500px;
}

.bestSection{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 80px 20px 0;
}

.bestHeaderBlock{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 60px;
    background: #5c8f62;
    border-radius: 30px;
    margin: auto;
}

.homeHeader{
    font-family: "Inter", sans-serif;
    font-size: 32px;
    color: white;
}

.bestProducts{
    margin: auto;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin: 40px 0;
}

.aboutUsSection{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 170px;
}

.aboutUsImage{
    height: 300px;
}

.aboutUsTextSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutHeaderBlock{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 60px;
    background: #5c8f62;
    border-radius: 30px;
}

.aboutTextBlock{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 685px;
    height: 225px;
    background: white;
    border-radius: 30px;
    margin: 25px;
}

.homeText{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: black;
    font-weight: 200;
    text-align: center;
    margin: 25px;
}
